<html ng-app="booksCart">

<head>
	<title>Angular Training</title>
	<link rel="stylesheet" href="style.css">
	<script src="vendor/system.js"></script>
	<script src="vendor/typescript.min.js"></script>
	<script>
            System.config({
                transpiler: 'typescript',
                packages: {
                src: {
                    defaultExtension: 'ts'
                }
                } 
            });
            System
              .import('app.ts')
              .then(null, console.error.bind(console));
          </script>
</head>

<body>
	<h1>My first angular app</h1>
	<div ng-controller="BookCtrl as ctrl">
		<input type="text" ng-model="ctrl.person.name">
		<input type="text" ng-model="ctrl.person.age"> {{ctrl.person}}
		<button ng-click="ctrl.printName()">Print name</button>
		<div>
			<table>
				<tr>
					<td>Item</td>
					<td>Price</td>
					<td>Quantity</td>
				</tr>
				<tr ng-repeat="item in ctrl.cart.items">
					<td>{{item.name}}</td>
					<td>{{item.price}}</td>
					<td>{{item.qty}}</td>
				</tr>
				<tr>
					<td colspan="2">Total Price</td>
					<td>{{ctrl.cart.totalPrice}}</td>
				</tr>
			</table>
		</div>
		<hr/>
		<div ng-repeat="book in ctrl.books" ng-class="{high: book.rating > 3, low: book.rating <= 3}" class="book">
			<div><b>{{book.title}}</b></div>
			<div><i>{{book.author}}</i></div>
			<div>{{book.price}}</div>
			<div>{{book.rating}}</div>
			<hr/>
			<button ng-click="ctrl.rateUp(book)">&uarr;</button>
			<button ng-click="ctrl.rateDown(book)">&darr;</button>
			<button ng-click="ctrl.addToCart(book)">
                    <img src="cart.png"/>
                </button>
		</div>
	</div>

</body>

</html>